<html>

<head>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript">

        function reloadToken() {
            let u = $("#userToken").val();
            $(location).attr('href', '/?u=' + u)
        }

        function createTask() {
            let u = $("#userToken").val();
            $.post('/createTask',{token: u})
                .done((data) => {
                    $(location).attr('href', '/?u=' + u)
                })
        }
    </script>
</head>

<body>

    <!--tutaj kontrolki do ręcznego wczytania tokena, wyświetlenie tokena itp-->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height:50px">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">#ToDo v0.0.3</a>
            </div>
            <form class="form-inline" style="margin-top:10px;float: right;">
                <input type="text" class="form-control mb-2 mr-sm-2" style="width:500px" id="userToken"
                    value="<%= token %>">
                <button type="button" onclick="reloadToken()" class="btn btn-primary mb-2">Załaduj</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container" style="margin-top:100px">
        <!--tutaj faktyczna aplikacja, single-page, jakiś modal do dodawania zadań-->
        <div class="container">
            <div class="list-group" id="tasks">

                <% for(let task of data.data) { %>
                <li class="list-group-item">
                    <%= task %>
                </li>
                <% } %>
                <li class="list-group-item">
                    <button type="button" onclick="createTask()" class="btn btn-primary mb-2">Dodaj zadanie</button>
                </li>
            </div>
        </div>
    </main>

</body>

</html>